.App {
    height: 100vh;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
}

.search {
    padding: 20px;
    text-align: center;
}
.map-container {
    height: 60%;
    width: 60%;
    border: 5px solid black;
    display: block;
}

button {
    margin-left: 10px;
}

#searchBox {
    min-width: 310px;
}